@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page--color: purple;
}

/* Headings */
h1,
h2 {
  @apply font-heading;
}

h1:first-child,
h2:first-child {
  @apply first:pt-0;
}

h1 {
  @apply text-5xl pt-6 pb-2 leading-[1.15];
}

h2 {
  @apply text-2xl pt-4 pb-1 leading-[1.3];
}

/* Paragraphs */
p {
  @apply py-2;
}

a {
  @apply font-bold text-[var(--page--color)] hover:underline;
}

/* Emojis */
img.emoji {
  @apply h-[1.2rem] w-auto mx-[.2rem] inline align-middle translate-y-[-.2rem];
}

/* Code */
body pre[class*="language-"] {
  @apply rounded-none border-none text-xs leading-[1.6] font-mono mx-[.4rem] my-[1.6rem] w-[calc(100%_-.8rem)] p-[1.2rem] sm:mx-[1rem] sm:p-[1.6rem] sm:text-sm;
}
